/* Github forkme label*/
.forkme{ position:absolute; width:149px; height:149px; top:0; right:0; z-index:09999; opacity:0.7;
  -webkit-transition-duration:500ms;
  -moz-transition-duration:500ms;
  -o-transition-duration:500ms;
}

.forkme:hover {opacity:0.9;}
div.topbar {
  z-index: 9000 !important; /** We have a Github ribbon */
}
header .topbar h3 a {
    background: url(../img/logo_site.png) no-repeat center left;
    padding-left: 60px;
}


#about p {
    font-size: 15px;
}


section {
  padding-top: 60px;
}
#event .alert-message {
    text-shadow: none;
    background-image: none;
    background-color: #F7D55B;
    border-bottom: 0;
}
#event h3 {
    color: white;
    text-shadow: black 1px 1px 2px;
}
#event .row .span4 {
    width: 210px;
    min-height: 130px;
    word-wrap: break-word
}
#event .row .span4:not(:last-child) {
    border-right: solid 2px #F2CE4D;
}
#event .row .span4 p {
    color: black;
}
#event .row .span4 p a {
    color: #004A68;
}

/* Promote JS logo */
#propaganda {
    padding-top: 20px;
    text-align: center;
}
#propaganda > * {
    margin: 0 30px;
}

/* Links to other communities */
.links { text-align: center; }
.links h3 { margin: 3px 0;}
.links ul { margin: 5px 0;}
.links li { display: inline; margin: 0 2px;}
