body {
    margin:0;
    background: #FFCC00;
    font-family: 'serif';
    text-align:center:
    
    background-color: #0ae;
		background-image: -webkit-gradient(linear, 0 0, 100% 100%, 
			color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), 
			color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), 
			color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), 
			to(transparent));
		background-image: -moz-linear-gradient(-45deg, 
			rgba(255, 255, 255, 0.2) 25%, transparent 25%, 
			transparent 50%, rgba(255, 255, 255, 0.2) 50%, 
			rgba(255, 255, 255, 0.2) 75%, transparent 75%, 
			transparent);
			
		background-image: -o-linear-gradient(linear, 0 0, 100% 100%, 
			color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), 
			color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), 
			color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), 
			to(transparent));
		background-image: linear-gradient(linear, 0 0, 100% 100%, 
			color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), 
			color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), 
			color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), 
			to(transparent));
		
		-webkit-background-size: 50px 50px;
		-moz-background-size: 50px 50px;
		background-size: 50px 50px;
}

.main {
    margin:auto;
    text-align:left;
    -webkit-perspective: 600;
    -webkit-transform-style: preserves-3d;
    max-width:980px;
}

h1, h2, h3 {
    font-family: 'Lobster', arial, serif;
}

p, li {
    font-family: 'Molengo', arial, serif;
    font-size:13pt;
}

h1 {
    width: 200px;
    margin: 20px 50px;
    font-weight: normal;
}

/* Events */

#eventsSpinner {
    text-align: center;
    padding-top: 50px;
}

/* Twitter */

#twitter {
    float: right;
    width: 300px;
}

.twittbox {
    background-color: #FFE587;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    margin-bottom: 12px;
    padding: 5px 10px 5px 10px;
    font-size: 0.8em;
}

@-webkit-keyframes glow {
    from {
        text-shadow: -3px -3px 60px #ffffff;
    }
    to {
        text-shadow: 3px 3px 20px #dcb000;
    }
}

.textshadow.cssanimations h1 {
    -webkit-animation-name: glow;
    -webkit-animation-duration: 15s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
}

.textshadow.no-cssanimations h1 {
    text-shadow: -3px -3px 60px #fff1ba;
}

h2, h3 {
    color: #4F4005;
    margin-top: 0.2em;
}

h2 {
    font-size: 2em;
}

.content {
    margin: 30px 0;
    padding: 5px 20px;
    background-color: #FFF1BA;
}

.leftContent{
  margin-right:320px;
}

.shadow {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
}

ul {
    -webkit-transition: -webkit-transform 1s ease-in;
}


a {
    color: #4F4005;
    text-decoration:underline;
}

a:hover {
    text-decoration: none;
}


.promotejs img {
    margin: 20px 60px;
    border:none;
}

.forkme {
    position:absolute;
    width:149px;
    height:149px;
    top:0;
    left:0;
    z-index:9999;
    -webkit-transition-duration:500ms;
    -moz-transition-duration:500ms;
    -o-transition-duration:500ms;    
}

.forkme:hover{
  opacity:0.9;
}

img {
    border:none;
}

.vevent p:nth-child(1) {
    font-size: 1.2em;
    text-shadow: 0 1px 1px #f8fcee;
}

.vevent p:nth-child(2) {
    max-width:650px;
}


.links {
    text-align: center;
}

.links h3 {
    margin: 3px 0;
}

.links ul {
    margin: 5px 0;
}

.links li {
    list-style-type: none;
    display: inline;
    margin: 0 2px;
}
