/* Github forkme label*/
.forkme{ position:absolute; width:149px; height:149px; top:0; right:0; z-index:09999; opacity:0.7;
  -webkit-transition-duration:500ms;
  -moz-transition-duration:500ms;
  -o-transition-duration:500ms;
}

.forkme:hover {opacity:0.9;}
div.topbar {
  z-index: 9000 !important; /** We have a Github ribbon */
}
header .topbar h3 a {
    background: url(../img/logo_site.png) no-repeat center left;
    padding-left: 60px;
}

/* Promote JS logo */
.promotejs {width:100%; display:block; text-align: center; }
.promotejs img { margin: 10px auto; }



section {
  padding-top: 60px;
}
#event .alert-message {
    text-shadow: none;
}
#event .row .span4 {
    width: 210px;
    min-height: 130px;
    word-wrap: break-word
}
#event .row .span4:not(:last-child) {
    border-right: solid 1px white;
}
#event .row .span4 p, #event h3 {
    color: white !important; /** inline style by eventbrite */
}
#event .row .span4 p a {
    color: #004A68;
}

/* Links to other communities */
.links { text-align: center; padding-top: 4px; border-top: 1px solid #DDDDDD;}
.links h3 { margin: 3px 0;}
.links ul { margin: 5px 0;}
.links li { display: inline; margin: 0 2px;}
