body{
	position:relative;
	-webkit-font-smoothing: antialiased;
	background:#f9f9f8;
	font-family: "Open Sans", Helvetica, Arial, Serif;
	font-size: 14px;
	color:#a6a6a6;
}
.container{
	width:960px;
	margin: 0 auto;
}
header{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Andale Mono", Helvetica, Arial, Serif;
	font-size: 14px;
	width:100%;
	min-width:965px;
	height:60px;
	background:#e14680;
	padding: 12px 0;
	color: #fff;
	border-bottom:1px solid #e86599;
}
#header{
	min-width:965px;
	height: 432px;
	width:100%;
	background:#271f46 url(../images/bg_header.png) no-repeat top center;
}
header #logo{
	float: left;
}
header .text{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px;
	float: left;
}
#header .logo_header{
	position:absolute;
	top: 130px;
}
.next_meetup{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Myriad Pro", Helvetica, Arial, Serif;
	padding: 100px 25px 10px 25px;
	float:right;
	width: 350px;
	height: 432px;
	background:rgba(255,255,255,.07);
}
.next_meetup h2{
	color:#fff;
	font-weight:bold;
	font-size: 30px;
	border-bottom: 1px solid #453c62;
}
.next_meetup .date{
	margin: 20px 0 0 0;
	color:#b9e2b6;
	font-size: 14px;
}
.next_meetup .titre{
	color:#e14680;
	font-size: 34px;
}
.next_meetup a{
	margin: 10px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:#9591a4;
	font-size: 14px;
	background:rgba(255,255,255,0.1);
	padding:8px 15px 6px 15px;
	display:block;
}
.next_meetup a.inscription{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height:40px;
	padding:13px;
	margin:15px 0;
	font-weight:bold;
	text-decoration: none;
	color:#4d9c80;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
	text-align:center;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dd6b6), to(#62ab91));
    background: -moz-linear-gradient(-90deg,#8dd6b6,#62ab91);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-moz-box-shadow: 0px 1px 2px rgba(255,255,255,0.7) inset,0px 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 2px rgba(255,255,255,0.7) inset,0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 2px rgba(255,255,255,0.7) inset,0px 1px 3px rgba(0,0,0,0.5);
}
.next_meetup a.inscription:hover{
	color:#4f8975;
	cursor:pointer;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
	background: -webkit-gradient(linear, left top, left bottom, from(#62ab91), to(#8dd6b6));
    background: -moz-linear-gradient(-90deg,#62ab91,#8dd6b6);
	-moz-box-shadow: 0px 1px 2px rgba(255,255,255,0.7) inset,0px 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 2px rgba(255,255,255,0.7) inset,0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 2px rgba(255,255,255,0.7) inset,0px 1px 3px rgba(0,0,0,0.5);
}

.next_meetup div.summary p{
    color:#A6A6A6 !important;
}

.next_meetup div.summary a {
    text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
}

.next_meetup div.summary {
    font-size:12px;
    margin-top:5px;
}

#navigation{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	height: 66px;
	width:100%;
	min-width:965px;
	background:#221d37;
}
#navigation span{
	margin: 9px 0;
	float: left;
	font-family: "Andale Mono", Helvetica, Arial, Serif;
	color:#f4d9ab;
	font-size:30px;
}
#navigation li {
	float: left;
	color:#fff;
	padding:0 5px;
	margin:12px;
}
#navigation li a{
	text-decoration:none;
	color:#b9e2b6;
}
#navigation li a:hover{
	text-decoration:underline;
	color:#b9e2b6;
}
#navigation li img{
	opacity:0.5;
}
#navigation li:hover img{
	opacity:1;
}
#navigation li img{
	position:relative;
	left:-5px;
	top: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#content{
	width: 610px;
	min-height: 390px;
	padding: 15px 35px 15px 0;
	background: url(../images/shadow_sidbar.png) no-repeat top right;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#sidebar{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	width: 340px;
	height: 300px;
	float: left;
}
#about{
	margin: 15px 0 0;
}
#about p{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 10px;
	font-size:12px;
	color:#515151;
}
#about p a{
	color:#e14680;
	font-weight: bold;
}
#about p a:hover{
	text-decoration:underline;
}
#twitter{
	margin: 15px 0 0;
}
#twitter li{
	border-left: 3px solid #f1f1f1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 5px;
}
#twitter span{
	display:block	;
	margin: 10px 0 5px 0;
	color: #515151;
	font-weight: bold;
	font-size: 12px;
}
#twitter p {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px 12px 0;
	font-size:12px;
	margin:0;
	color:rgba(0,0,0,0.6);
}
#twitter p a{
	color:rgba(0,0,0,0.3);
}
#twitter p a:hover{
	color:#e14680;
	text-decoration:underline;
}
#twitter p.time{
	font-size: 10px;
	color: #71669c;
}
#sidebar h2{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 2px 0;
	border-bottom: 1px solid #e3e3e2;
	font-family: "MuseoSlab500", Helvetica, Arial, Serif;
	font-size: 18px;
	color: #dc4084;
}
#sidebar a{
	color:#515151;
	text-decoration: none;
}
#sidebar a:hover{
	color:#da3e81;
	text-decoration: underline;
}
#sidebar p strong{
	font-weight: bold;
}
#content{
	padding: 30px 0;
}

#meetups h2{
	width: 570px;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #e3e3e2;
	font-family: "MuseoSlab500", Helvetica, Arial, Serif;
	font-size: 18px;
	color: #dc4084;
}
#meetups .avatar{
	background: url(../images/avatar.png) no-repeat;
	border: 3px solid #ededed;
	width: 72px;
	height: 72px;
	float: left;
}
#meetups .avatar img {
	background: url(../images/avatar.png) no-repeat;
	width: 72px;
	height: 72px;
}
#meetups ul{
	width: 590px;
	float:left;
	margin: 7px 5px;
}
.meetup{
	margin: 12px 0;
}
.meetup a:first-child {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0 0 22px;
    color:#551A8B;
	text-decoration:none;
	background: url(../images/ico_calendar.png) no-repeat;
}
.meetup a:hover{
	text-decoration:underline;
}
li.titleTalk {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px 0 0 115px;
	background: url(../images/ico_talk.png) no-repeat 95px 2px;
	font-size: 14px;
	color:#515151;
}
li.titleTalk a {
	font-size: 14px;
	color:#515151;
	font-weight:bold;
}
.descTalk,
.authorTalk{
	font-size: 12px;
}
.descTalk{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 7px 0 0 95px;
	font-weight: ;
}
.descTalk a{
	color:#3e3759;
	text-decoration:none;
}
.descTalk a:hover{
	color:#71669c;
	text-decoration: underline;
}
.authorTalk{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px 0 0 115px;
}
.authorTalk a{
	color:#e66a98;
	text-decoration: none;
}
#footer{
	background:#4b4b4b;
	width: 100%;
	height: 75px;
	clear:both;
	border-top: 3px solid #858585;
}
#footer .container ul{
	float: right;
}
#footer .container li{
	font-size:12px;
	float: left;
	margin: 20px 0 0 10px;
}
#footer .container li img{
	position: relative;
	top: 8px;
	left: -5px;
}
#footer .container li a{
	text-decoration: none;
	color: #a6a6a6;
}
.github{
	opacity: 0.7;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.github:hover{
	opacity: 1;
}
.noxdzine{
	opacity: 0.7;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 12px 0;
}
.noxdzine:hover{
	opacity: 1;
}