---
---
<!DOCTYPE html><html><head>
        <meta charset="utf-8">
        <title>Paris.js - JavaScript user group in Paris</title>
        <link rel="icon" type="image/png" href="images/favicon_parisjs.png">
        <!--[if IE]>
            <script>
             document.createElement("header");
             document.createElement("footer");
             document.createElement("nav");
             document.createElement("article");
             document.createElement("section");
            </script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/font.css">
    </head>

    <body>

        <header>
            <div class="container">
                <div id="logo">
                    <a href="http://parisjs.org">
                        <img src="images/logo.png" alt="ParisJS.org - Home">
                    </a>
                </div>
                <div class="text">- Event-driven community about JavaScript</div>
            </div>
        </header>

        <div id="header">
            <div class="container">
                <div class="logo_header"></div>
                <div class="next_meetup vevent" id="event">
                <h2>NEXT MEETUP</h2>
                </div>
            </div>
        </div>

        <div id="navigation">

            <div class="container">
                <span>Community {</span>
                <ul>
                    <li><img src="images/ico_twitter.png" alt="Paris.js on Twitter">Follow <a href="http://twitter.com/parisjs">@parisjs</a> on Twitter</li>
                    <li><img src="images/ico_mail.png" alt="Mailing list Paris.js">Join the <a href="http://groups.google.com/group/parisjs">mailing list</a></li>
                    <li><img src="images/ico_meetup.svg" alt="Meetup Paris.js">Join <a href="http://www.meetup.com/fr-FR/Paris-js/">parisjs</a> on Meetup</li>
                </ul>
                <span>}</span>
            </div>

        </div>

        <section class="container">
        <div id="content">
            <div id="meetups">

                <h2>Seen and heard in the meetups</h2>

                <ul>
                {% for tag in site.tags reversed %}
                    {% assign t = tag | first %}
                    {% assign posts = tag | last %}
                    <li class="meetup" id="{{t}}">
                        <a href="#{{t}}" class="meetup-title">
                            {% for meetup in site.data.meetups %}
                                {% if meetup.tag == t %}
                                    {{ meetup.title }}
                                {% endif %}
                            {% endfor %}
                        </a>
                        <ul class="meetup-content" style="display:none;">
                        {% for post in posts %}
                            <li>
                                <ul>
                                    <li class="avatar">
                                        {% if post.authors[0].avatar %}
                                        <img src="{{ post.authors[0].avatar }}" alt="">
                                        {% endif %}
                                    </li>
                                    <li class="titleTalk"><span data-href="{{ post.url }}">{{ post.title | xml_escape }}</span></li>
                                    <li class="authorTalk">By:
                                        {% for author in post.authors %}
                                            <a href="{{ author.url }}">{{ author.name }}</a>
                                        {% endfor %}
                                    </li>
                                    <li class="descTalk">
                                        {% if post.projects %}
                                            {% for project in post.projects %}
                                                Here is the <a href="{{ project }}">project</a>.
                                            {% endfor %}
                                        {% endif %}
                                        {% if post.slides %}
                                            {% for slide in post.slides %}
                                                Here are the <a href="{{ slide }}">slides</a>.
                                            {% endfor %}
                                        {% endif %}
                                        {% if post.videos %}
                                            {% if post.videos.size > 1 %}
                                                Videos :
                                                {% for video in post.videos %}
                                                    <a href="{{ video }}">part {{ forloop.index }}</a>
                                                {% endfor %}
                                            {% else %}
                                                Here is the <a href="{{ post.videos[0] }}">video</a>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div id="sidebar">

            <div id="host">
                <h2>Host next Paris.js</h2>
                <p>Everything you need is in <a href="https://github.com/parisjs/parisjs-website/wiki/Be-a-ParisJS-Host">the how-to</a>.</p>
            </div>

            <div id="proposal">
              <h2>Talk at Paris.js :</h2>
                <p>
                    Share your talk proposal on the <a href="/program.html#add">dedicated form</a>.
                </p>
            </div>

            <div id="about">
                <h2>About</h2>
                <p><strong>Paris.js</strong> is a user group focused on <strong>JavaScript</strong> and related topics, hosted in a different company's office Paris each month; beer &amp; pizza are sometimes provided! If you want to sponsor <strong>Paris.js</strong>, send an email to the <a href="http://groups.google.com/group/parisjs">mailing list</a>.
                    <br>
                    <br>
                    Read the <a href="http://groups.google.com/group/parisjs/msg/f690e8c672919e0a">Manifesto here</a>.</p>
            </div>

            <div id="jobs">
                <h2>Jobs</h2>
                <p>Related job offers can be posted on the <a href="http://www.linkedin.com/groups?careerDiscussion=&amp;gid=3852602">LinkedIn group</a>.</p>
            </div>

            <div id="twitter">
                <h2>Twitter @ParisJS</h2>
                <a class="twitter-timeline" href="https://twitter.com/parisjs" data-widget-id="386687638675005440">Tweets by @parisjs</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>

            <div id="communities">
                <h2>Communities around the world</h2>
                  <ul>
                  </ul>
                <p>More on <a href="http://communityjs.org">communityJS.org</a></p>
            </div>
        </div>
        </section>

        <section id="footer">
            <div class="container">
                <ul>
                    <li class="github"><img src="images/ico_github.png" alt="Fork me on GitHub"><a href="https://github.com/parisjs/parisjs-website">Fork me on GitHub</a></li>
                    <li class="noxdzine">-</li>
                    <li class="noxdzine"><a href="https://twitter.com/Noxdzine">Design by @Noxdzine</a></li>
                </ul>
            </div>
        </section>

        <script id="eventTmpl" type="text/x-template">
            <h2>NEXT MEETUP</h2>
            <p class="dtstart date" title="<%= event.time %>"><%= Utils.formatDate(event.time) %></p>
            <p class="titre"><%=  event.name %></p>
            <p class="where">
                <a href="http://maps.google.com/maps?q=<%= event.venue.lat %>,<%= event.venue.lon %>&z=15">hosted by <%= event.venue.name %></a>
            </p>
            <div class="summary">
                <a href="program.html">SEE THE PROGRAM</a>
            </div>
            <a class="inscription" href="http://www.meetup.com/<%= event.group.urlname %>/events/<%= event.id %>/">INSCRIPTION</a>
        </script>

        <script id="emptyEventTmpl" type="text/x-template">
            <h2>NEXT MEETUP</h2>
            <span class="titre">Coming soon</span>
            <span class="summary">, stay tuned!</span>
            <div class="summary">
                <a href="program.html">SEE THE PROGRAM</a>
            </div>
        </script>

        <script id="communityTmpl" type="text/x-template">
          <% _(meetups).each(function(v) { %>
            <li><a href="<%= v.link %>"> ٠ <%= v.town %> - <%= v.country %></a></li>
          <% }); %>
        </script>

        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.jsonp-2.1.4.min.js"></script>
        <script type="text/javascript" src="js/spin.js"></script>
        <script type="text/javascript" src="http://communityjs.org/CommunityJSData/rawdata"></script>
        <script type="text/javascript" src="js/paris.js"></script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23072906-1']);
          _gaq.push(['_setDomainName', '.parisjs.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>







</body></html>
