<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Programme Paris.js</title>
        <link rel="icon" type="image/png" href="images/favicon_parisjs.png">
        <link rel="stylesheet" href="css/font.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/program.css" type="text/css" media="screen">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo">
                    <a href="/">
                        <img src="images/logo.png" alt="ParisJS.org - Home">
                    </a>
                </div>
                <div class="text">- Event-driven community about Javascript</div>
            </div>
        </header>
        <div id="navigation">
            <div class="container">
                <span class="title">Programme {Paris.js}</span>
                <a class="add_prez" href="https://docs.google.com/spreadsheet/viewform?formkey=dDNDbU93eUh1NXpCenNXT1FqQksxZmc6MQ">Proposer une présentation</a>
            </div>
        </div>
        <section class="container">
            <div id="spin"></div>
            <div id="content">
                <div class="switch">
                    <a class="" href="#">Programme du prochain Paris.js</a>
                    <a class="" href="#submitted">Présentations soumises</a>
                </div>
                <div id="prezs-scheduled">
                    <div class="prezs"></div>
                </div>
                <div id="prezs-submitted" style="display:none;">
                    <h1>Propositions soumises pour les prochains Paris.js</h1>
                    <div class="prezs"></div>
                </div>
            </div>
        </section>

        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/spin.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/backbone-min.js"></script>
        <script type="text/javascript" src="js/program.js"></script>
        <script src="http://www.google.com/jsapi?key=ABQIAAAAE4BGaIh0t-7l9PDR7PA0rRR6KW34AlT62yZeC298tyhOjAL-9hQQpk22pW6ZfaCFEr3zjz2Q8rjqAw&callback=_google_on_loaded" type="text/javascript"></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23072906-1']);
          _gaq.push(['_setDomainName', '.parisjs.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

        <script id="talk-template" type="text/x-template">
          <header>
            <h1><%= title %></h1>
          </header>
          <section class="authors">
            <span><%= authors  %></span>
            <span><%= contacts %></span>
          </section>
          <section class="abstract">
            <p><%= abstract %></p>
          </section>
       </script>
    </body>
</html>
