<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Programme Paris.js</title>
        <link rel="icon" type="image/png" href="images/favicon_parisjs.png">
        <link rel="stylesheet" href="css/font.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/program.css" type="text/css" media="screen">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo">
                    <a href="/">
                        <img src="images/logo.png" alt="ParisJS.org - Home">
                    </a>
                </div>
                <div class="text">- Event-driven community about Javascript</div>
            </div>
        </header>
        <div id="navigation">
            <div class="container">
                <span class="title">Programme {Paris.js}</span>
                <a class="add_prez" href="#add">Proposer une présentation</a>
            </div>
        </div>
        <section class="container">
            <div id="spin"></div>
            <div id="content">
                <div class="switch">
                </div>
            </div>
        </section>

        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script src="https://api.trello.com/1/client.js?key=80be6f1a85a3b09655f98bb9e3d95809"></script>
        <script type="text/javascript" src="js/spin.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/backbone-min.js"></script>
        <script type="text/javascript" src="js/marked.min.js"></script>
        <script type="text/javascript" src="js/program.js"></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23072906-1']);
          _gaq.push(['_setDomainName', '.parisjs.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

        <script id="talk-template" type="text/x-template">
          <header>
            <h1><%= title %></h1>
          </header>
          <section class="abstract">
            <p><%= marked(abstract) %></p>
          </section>
       </script>
    </body>
</html>
