<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Programme Paris.js</title>
        <link rel="icon" type="image/png" href="images/favicon_parisjs.png">
        <link rel="stylesheet" href="{{site.url}}/css/font.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{site.url}}/css/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{site.url}}/css/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{site.url}}/css/program.css" type="text/css" media="screen">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo">
                    <a href="{{site.url}}/">
                        <img src="{{site.url}}/images/logo.png" alt="ParisJS.org - Home">
                    </a>
                </div>
                <div class="text">- Event-driven community about Javascript</div>
            </div>
        </header>
        <section class="container">
            <div id="content">
                {{ content }}
            </div>
        </section>

        <script type="text/javascript" src="{{site.url}}/js/jquery-1.7.2.min.js"></script>
        <script src="https://api.trello.com/1/client.js?key=80be6f1a85a3b09655f98bb9e3d95809"></script>
        <script type="text/javascript" src="{{site.url}}/js/spin.js"></script>
        <script type="text/javascript" src="{{site.url}}/js/underscore-min.js"></script>
        <script type="text/javascript" src="{{site.url}}/js/backbone-min.js"></script>
        <script type="text/javascript" src="{{site.url}}/js/marked.min.js"></script>
        <script type="text/javascript" src="{{site.url}}/js/program.js"></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23072906-1']);
          _gaq.push(['_setDomainName', '.parisjs.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
