* {
  box-sizing: border-box;
}

:root {
  --pink: #e14680;
  --purple: #551a8b;
  --purple-dark: #271f46;
  --blue: #00b6ff;
  --green: #b2e246;
  --yellow: #f0db4f;
  --black: #000000;
  --white: #ffffff;
  --grey-01: #45494d;
  --grey-02: #8e9599;
  --grey-03: #c4c9cc;
  --grey-04: #edf0f2;

  --brand-font: Poppins, sans-serif;
  --body-font: Hack, monospace;
}

body {
  background: #eceff2;
  font-family: Hack, monospace;
  font-size: 14px;
}

p {
  line-height: 24px;
  margin: 24px 0;
}

ul {
  line-height: 24px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    margin: 0 10px;
  }
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 72px;
  font-weight: bold;
  color: #551a8b;
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #551a8b;
  margin: 18px 0;
}

h2.--withChevron {
  position: relative;
}

h2.--withChevron::before {
  display: block;
  content: '';
  width: 26px;
  height: 12px;
  background: url('/assets/chevron.svg');
  position: absolute;
  left: -36px;
  top: 50%;
  transform: translate(0, -50%);
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  margin: 12px 0;
  font-weight: bold;
  color: #e14680;
}

h4 {
  font-family: Hack, monospace;
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-family: Hack, monospace;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 960px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
}

.btn {
  display: inline-block;
  background: #551a8b;
  color: #ffffff;
  line-height: 44px;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 24px;
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  white-space: nowrap;
  font-family: Hack, monospace;
}

.card {
  background: #ffffff;
  border-radius: 3px;
}

.formGroup,
.form-group {
  margin: 24px 0;
}
