.footer {
  font-size: 14px;
  margin: 48px auto;
  text-align: center;
  color: var(--grey-02);
}

.footer a {
  color: currentColor;
}

.footer a:hover {
  color: var(--pink);
}

.footer__vercel {
  margin-top: 15px;
}
