.header {
  background: #e14680;
  color: #ffffff;
}

.header .container {
  display: flex;
  align-items: center;
  height: 96px;
}

.header a {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}

.header__logo a {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-right: 16px;
  border-radius: 3px;
}

.header__nav {
  display: flex;
  flex: 1 1 auto;
}

.header__nav a {
  padding: 16px;
  margin: 0 2px;
}

.header__nav a:hover,
.header__nav a.active {
  background: #c72a63;
}

.languageSwitcher {
  flex: 0 0 auto;
}

.languageSwitcher a {
  height: 24px;
  padding: 3px 8px;
}

.languageSwitcher a:hover {
  border-bottom: 5px solid;
}

@media (max-width: 1000px) {
  .header .container {
    flex-direction: column;
  }
  .header__nav {
    flex-grow: 0;
  }
  .header .container {
    display: flex;
    align-items: center;
    height: 120px;
  }
}


@media (max-width: 800px) {
  .header .container {
    display: block;
    height: auto;
  }
  .header__nav {
    display: block;
    padding-bottom: 10px;
  }
  .header__nav a {
    display: block;
    padding: 3px 8px;
  }
  .languageSwitcher a {
    display: block;
  }
}
