.hero {
  background: #ffffff;
  padding: 72px 0;
}

.hero__actions {
  display: flex;
  align-items: center;
}

.hero__actions p {
  color: #45494d;
  font-size: 14px;
}

.hero__actions p a {
  display: inline-block;
  padding: 6px;
  border-radius: 3px;
  color: #45494d;
  text-decoration: none;
}

.hero__actions p a:hover {
  color: #000000;
  background: #edf0f2;
}

.hero__actions img {
  vertical-align: bottom;
}

@media (max-width: 1024px) {
  .hero {
    padding: 24px 0;
  }

  .hero__actions {
    display: block;
  }

  .hero__actions p {
    margin: 24px 0;
  }
}

@media (max-width: 600px) {
  .hero__actions p a {
    display: block;
  }
}

.meetups__header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

div.ais-InstantSearch__root {
  font-family: var(--body-font);
}

.ais-PoweredBy__root {
  position: absolute;
  bottom: 1em;
  right: 0px;
}

.ais-PoweredBy__algoliaLink svg {
  height: 1.2em;
  vertical-align: bottom;
}

.ais-SearchBox__root {
  align-self: center;
  border: 1px solid #551a8b;
  border-radius: 3px;
}

.meetups__list .ais-InfiniteHits__loadMore {
  font-size: 120%;
  border: 1px solid #551a8b;
  background: white;
  padding: 6px 12px;
  border-radius: 3px;
}

.meetups__title {
  margin: 48px 0;
}

.meetups__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meetups__list li {
  margin: 0;
  padding: 0;
}
