.hero {
  background: #ffffff;
  padding: 72px 0;
}

.hero__actions {
  display: flex;
  align-items: center;
}

.hero__actions p {
  color: #45494d;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.hero__actions p a {
  display: inline-flex;
  align-items: center;
  padding: 6px;
  border-radius: 3px;
  color: #45494d;
  text-decoration: none;
}
.hero__actions p a svg {
  margin-right: 6px;
}

.hero__actions p a:hover {
  color: #000000;
  background: #edf0f2;
}

.hero__actions img {
  vertical-align: bottom;
}

@media (max-width: 1024px) {
  .hero {
    padding: 24px 0;
  }

  .hero__actions {
    display: block;
  }

  .hero__actions p {
    margin: 24px 0;
  }
}

@media (max-width: 600px) {
  .hero__actions p a {
    display: block;
  }
}

.meetups__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.ais-InfiniteHits {
  font-family: var(--body-font);
}

.ais-PoweredBy {
  position: absolute;
  bottom: 1em;
  right: 0px;
}

.ais-PoweredBy__algoliaLink svg {
  height: 1.2em;
  vertical-align: bottom;
}

.ais-SearchBox-form {
  align-self: center;
  border-radius: 3px;
  width: 400px;
  height: 46px;
}

@media (max-width: 600px) {
  .ais-SearchBox-form {
    width: 200px;
  }
}

.ais-SearchBox-input {
  height: 100%;
  border: 1px solid #551a8b;
  padding-left: 46px;
}
.ais-SearchBox-submit {
  height: 100%;
  width: 46px;
}

.ais-InfiniteHits .ais-InfiniteHits-loadMore {
  font-size: 1em;
  border: 1px solid #551a8b;
  background: white;
  color: black;
  padding: 6px 12px;
  border-radius: 3px;
}

.meetups__title {
  margin: 48px 0;
}

.ais-InfiniteHits-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ais-InfiniteHits-list .ais-InfiniteHits-item {
  margin: 0;
  padding: 0;
  width: 100%;
}

.ais-InfiniteHits-list .ais-InfiniteHits-item + .ais-InfiniteHits-item {
  margin-top: 48px;
}
