.sponsors__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 0 -10px;
  padding: 0;
  list-style: none;
}

.sponsors__item {
  flex: 0 0 25%;
  overflow: hidden;
  padding: 10px;
}

.sponsor {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
}

.sponsor__thumbnail {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.sponsor__thumbnail img {
  /* nextjs injects some inline styles */
  padding: 10px !important;
}

.sponsor__info {
  border-top: 1px solid #edf0f2;
  padding: 20px;
}

.sponsor__name {
  font-size: 16px;
  display: block;
  font-weight: bold;
  color: #e14680;
}

.sponsor__links a {
  color: #45494d;
  text-decoration: none;
  border-bottom: 1px solid #c4c9cc;
}

.sponsor__links a:hover {
  color: #e14680;
  text-decoration: none;
  border-bottom: 1px solid #e14680;
}

@media (max-width: 800px) {
  .sponsors__item {
    flex: 0 0 50%;
  }
}

@media (max-width: 600px) {
  .sponsors__item {
    flex: 0 0 100%;
  }
}
