.TalkPreview {
  flex: 1 1 360px;
  display: flex;
  align-items: center;
  padding-right: 24px;

  line-height: 20px;
}


.TalkPreview .ais-Highlight-nonHighlighted,
.TalkPreview .ais-Highlight-highlighted {
  font-size: 14px;
}
