.Talk {
    background: #FFFFFF;
    padding: 32px;
    border-radius: 3px;
}

.Talk__title {
    margin-top: 0;
}

.Talk_authors {
    list-style: none;
    margin: 24px 0;
    padding: 0;
}

.Talk_authors li {
    display: inline-block;
    font-weight: bold;
}

.Talk__description {
    line-height: 24px;
}